.my-information{
    text-align: center; 
    

}
.skillAndEducation{
    background-color:rgb(0, 132, 255);
    border: 1px solid black;
    padding: 12px 12px;
    width: 400px;

}
h1{
    color: blue;
    font-style: verdana;
}
p{
    color: red;
    font-style: courier;
    font-size: 14px;
}